{namespace rebar.util.tpl}

/**
 * 显示message box
 * @param baseResPath
 */
{template .messageBox}
<div class="msg-box" style="display:none;">
  <span><img src="{$baseResPath}jsbase/img/loading.gif" /><i></i></span>
</div>
{/template}

