.rebar-msg-box {
    position: fixed;
    z-index: 20000;
    width: auto;
    padding-top: 2px;
    height: 24px;
    text-align: center;
    pointer-events: none;
}

.rebar-msg-box span {
    background: #4b981d;
    color: #fff;
    z-index: 98;
    border: 1px solid;
    padding: 3px 14px 5px 14px;
    border-radius: 3px;
    font-family: "Helvetica Neue", "lucida Grande", "Verdana";
    box-shadow: 2px 5px 5px #888;
}

.rebar-msg-box i {
    font-style: normal;
    vertical-align: middle;
}

